body, li {
  font-size: 16px;
}

.ynote {
  background: #f1e2d3;
  padding: .5em;
  border-left: .5em solid #a5673f;
  page-break-inside: avoid;
}

pre, code, samp, tt {
  font-family: Menlo, Consolas, "DejaVu Sans Mono", Monaco, monospace;
  font-size: 1em;
  page-break-inside: avoid;
  hyphens: none;
  text-transform: none;
}

pre {
  overflow-x: auto;
}

#idx {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  border: 0;
  overflow-y: scroll;
  box-sizing: border-box;
}

#mobile-bar {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: #fff;
  box-shadow: 0 0 2px rgba(0,0,0,0.25);
}

#menu-button {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 8px;
  left: 12px;
  background-size: 24px;
  background-image: url(../images/menu.svg);
}

@media (max-width: 768px) {
  body {
    margin: 0;
    padding: 42px 1.4em 0;
  }

  #mobile-bar {
    display: block;
    transition: transform 0.4s cubic-bezier(0.4, 0, 0, 1);
  }

  #idx {
    transform: translateX(-110%);
    transition: transform 0.4s cubic-bezier(0.4, 0, 0, 1);
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }

  .open {
    overflow: hidden;
  }

  .open #mobile-bar {
    transform: translateX(80vw);
  }

  .open #idx {
    transform: translateX(0);
  }
}

@media (min-width: 769px) {
  body {
    margin: 8px;
    max-width: 800px;
  }

  .hasidx {
    margin-left: 350px;
  }
}
